#loaderModal, #helperModal{margin-top:80px;}
#lruLoaderModal{height: 100%;position: absolute;top: -89px;background: rgb(23, 22, 22) none repeat scroll 0% 0%;opacity: 0.5;width: 100%;left: 0px;}
.proceeds-modal {
  padding: 20px;
  position: absolute;
  top: 200px;
  width: 95%;
  right: 2%;
  height: auto;
  z-index: 1;
  text-align: center;
}

.openModal:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  z-index: 1050;
  opacity: 0.9;
}
